@import url('https://necolas.github.io/normalize.css/8.0.1/normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');

:root {
    font-size: 10px;
    --background: #FFB084;
    --green: #29A71E;
    --red: #E13535;
    --blue: #3675B0;
    --black: #000000;
    --white: #FFFFFF;
}

body {
    font-family: "Work Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--background);
}

.title {
    font-weight: 700;
    font-size: 2.5rem;
}

.description {
    margin: unset;
    font-size: 2rem;
}

.grid {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: 7rem;
    gap: 3rem;
    margin: 0 auto;
}

.grid__item {
    display: inline-flex;
    flex-direction: column;
    justify-content: start;
    padding: 0 30px 0 30px;
    text-align: start;
    border-radius: 20px;
    box-shadow: 10px 10px 0 var(--black);
    background-color: var(--white);
    box-sizing: border-box;
}

.grid__item:nth-child(1) {
    grid-column: 1/3;
    grid-row: 1/7;
}

.grid__item:nth-child(2) {
    grid-column: 3/7;
    grid-row: 1/3;
}

.grid__item:nth-child(3) {
    grid-column: 3/5;
    grid-row: 3/5;
    box-shadow: 10px 10px 0 var(--green);
}

.grid__item:nth-child(3) h2 {
    color: var(--green);
}

.grid__item:nth-child(4) {
    grid-column: 5/7;
    grid-row: 3/6;
    box-shadow: 10px 10px 0 var(--red);
}

.grid__item:nth-child(4) h2 {
    color: var(--red);
}

.grid__item:nth-child(5) {
    grid-column: 3/5;
    grid-row: 5/8;
    box-shadow: 10px 10px 0 var(--blue);
}

.grid__item:nth-child(5) h2 {
    color: var(--blue);
}

.grid__item:nth-child(6) {
    grid-column: 1/3;
    justify-content: center;
}

.grid__item:nth-child(6) .grid__item-title {
    font-size: 2rem;
    align-items: center;
    text-align: center;
}

.grid__item:nth-child(7) {
    grid-column: 5/7;
    grid-row: 6/8;
}

.grid__item-header {
    font-size: 3rem;
    text-align: center;
}

.grid__item-img {
    height: 45%;
}

.grid__item-info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 4%;
    align-items: center;
    box-sizing: border-box;
}

.grid__item-info-more {
    width: 100%;
    font-size: 2rem;
    justify-content: space-between;
}

.grid__item-info-more:nth-child(1) {
    width: 30%;
}

.grid__item-info-more:nth-child(2) {
    width: 70%;
}

.item-title {
    font-weight: 600;
}

.grid__item-list {
    margin: unset;
}

.grid__item-list-el {
    width: 70%;
}

.grid__item-list-el:not(:last-child) {
    padding-bottom: 5px;
}


